<h1 align=center>Правила</h1>
<big>
<p>Здравствуйте! Спасибо за участие в разметке базы данных. Она будет использоваться для обучения нейронной сети, создающей изображения персонажей по текстовому описанию на естественном языке.</p>
<p>На последующих страницах вам будут показаны картинки, которые нужно описать.</p>
<p>Описание требуется небольшое, всего в одно—три предложения. Нужно сказать про каждого персонажа в общем (какого он вида, пола); описать его одежду, если она есть; описать его расположение в кадре, что он делает, с чем взаимодействует; какие есть (если есть) выделяющиеся элементы его образа; и описать фон. Если на изображении присутствуют несколько однотипных персонажей, то можно просто воспользоваться общей конструкцией вроде "Два человека в черных доспехах...", и не описывать каждого в отдельности.</p>
<p>Стремитесь к естественному описанию, не нужно следовать очередности и четкому раграничению вопросов, как приведено выше.</p>
<p>Их можно описать сразу целиком, или по некоторым общим вопросам, между этими вариантами описаний можно сразу переключаться. Также можно посмотреть случайные готовые описания.</p>
</big>
<form action="{% url 'descript:name' page_id ima %}" method="post">
 {% csrf_token %}
   {{ form.as_p }}
   <p align="center"><input type="submit" value="Продолжить"></p>
</form>
