{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
</head>
<body bgcolor="#c0c0c0">
	<script src="{% static 'assets/js/bootstrap.js' %}"></script>
	<script src="{% static 'assets/js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
	<form method="post" action="">
	{% csrf_token %}
		<div class="modal-header">
		    <h5 align="center" class="modal-title">Примеры описаний</h5>
		</div>
	     	 	<div class="modal-body">
				  <p align="center"><img src="{% static 'images/' %}{{ ima }}" style="max-width:500px;width:100%" alt="Персонаж"/></p>
				  <p align="center">{{ text }}</p>				
	      		</div>
	</form>
</body>
