{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
</head>

<body bgcolor="#c0c0c0">
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>




<h1>{{ question.question_text }}</h1>
  <p align="center"><img src="{% static 'images/' %}{{ ima }}" style="max-width:500px;width:100%" alt="Персонаж"/></p>
  <p align="center">{{ text }}</p>
  <center><form action="{% url 'descript:quest' page_id ima %}" method="post"> 
  {% csrf_token %}
   {{ form.as_p }}
   <p align="center"><input type="submit" value="Отправить"></p>
  </form></center>
  
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
 <div class="modal-dialog modal-xl" role="document">
  <div class="modal-content"></div>
 </div>
</div>

  <button id="mymodal" class="btn btn-primary" type="button" name="button" style="background-color: #e7e7e7; color: black;">Примеры описаний</button>
<script type="text/javascript">
$(document).ready(function() {
    $("#mymodal").modalForm({
        formURL: "{% url 'descript:mymodal' 1 1 %}"
    });
 });

</script>
</body>
