<h1>Правила</h1>

<p>Здравствуйте! Спасибо за участи в разметке датасета.</p>
<p>На последующий страницах вам будет показана картинка и под ней будет несколько вопросов о персонажах, находящихся на ней</p>
<p>Небольшие уточнения о некоторых вариантах ответа</p>
<p>Вариант "несколько" под вопросом о числе персонажей подразумевает, что вы можете описать в отдельности несколько персонажей с картинки. Если на ней видна толпа, то не стоит описывать каждого из них, и тогда выбирайте вариант много</p>

<form>
<input type="button" value="Все понятно!" onClick='location.href="127.0.0.1:8000/descript/detail"'>
</form>



{% if latest_page_list %}
    <ul>
    {% for page in latest_page_list %}
        <li><a href="/descript/{{ page.id }}/">{{ page.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
