<h1>Модальное окно</h1>


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Варианты описаний</button>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
          <p align="center"><img src="{% static ima %}" alt="Персонаж"/></p>
	  <p align="center">text</p>
	  <center>
	  <form action="{% url 'descript:next_page' page_id 0 %}" method="post"> 
	  {% csrf_token %}
	  <div class="submit-row">
	   <input type="submit" value="Отправить"> <input type="submit" value="<"> <input type="submit" value="Отправить">
	  </div>
	  </form>
	  <form action="{% url 'descript:next_page' page_id 1 %}" method="post"> 
	  {% csrf_token %}
	  <div class="submit-row">
	   <input type="submit" value="Отправить"> <input type="submit" value=">"> <input type="submit" value="Отправить">
	  </div>
	  </form>
	  </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>






{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
</head>
<body bgcolor="#c0c0c0" style="width: 1000px;">
	<script src="{% static 'assets/js/bootstrap.js' %}"></script>
	<script src="{% static 'assets/js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
	<form method="post" action="">
	{% csrf_token %}
		<div class="modal-header">
		    <h5 class="modal-title">Примеры описаний</h5>
		</div>
	     	 	<div class="modal-body">
				  <p align="center"><img src="{% static 'images/' %}{{ ima }}" alt="Персонаж"/></p>
				  <p align="center">{{ text }}</p>
				  <center>
					  <form action="{% url 'descript:next_page' page_id 0 %}" method="post"> 
					  {% csrf_token %}
					 	 <div class="submit-row">
					  		 <input type="submit" value="<">
					  	</div>
					  </form>
					  <form action="{% url 'descript:next_page' page_id 1 %}" method="post"> 
					  {% csrf_token %}
					  	<div class="submit-row">
					    		<input type="submit" value=">"> 
						</div>
					  </form>
				  </center>
	      		</div>
	      	<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="mymodal">Close</button>
	      	</div>
	</form>
</body>
